.highcharts-title, .highcharts-subtitle {
  text-transform: uppercase!Important;
}

.highcharts-tooltip text {
  fill: #F0F0F0!Important;
}

.highcharts-range-selector-buttons text {
  fill: silver!Important;
}

.highcharts-yaxis-grid {
  stroke-width: 1px!Important;
}

.highcharts-axis-labels, .highcharts-axis-title {
  fill: #E0E0E3!Important;
}

.highcharts-navigator .highcharts-navigator-handle {
  fill: #666!Important;
  stroke: #aaa!Important;
}

.highcharts-navigator .highcharts-navigator-outline {
  stroke: #CCC!Important;
}

.highcharts-navigator .highcharts-navigator-xaxis .highcharts-grid-line {
  stroke: #505053!Important;
}

.highcharts-scrollbar .highcharts-scrollbar-rifles {
  stroke: #fff!Important;
}

.highcharts-scrollbar .highcharts-scrollbar-button {
  stroke: #606063!Important;
  fill: #606063!Important;
}

.highcharts-scrollbar .highcharts-scrollbar-arrow {
  fill: #CCC!Important;
}

.highcharts-scrollbar .highcharts-scrollbar-thumb {
  fill: #808083!Important;
  stroke: #808083!Important;
}

.highcharts-contextbutton .highcharts-button-symbol {
  stroke: #DDDDDD!Important;
}

/**
 * @license Highcharts
 *
 * (c) 2009-2016 Torstein Honsi
 *
 * License: www.highcharts.com/license
 */
.highcharts-container {
  position: relative!Important;
  overflow: hidden!Important;
  width: 100%!Important;
  height: 100%!Important;
  text-align: left!Important;
  line-height: normal!Important;
  z-index: 0!Important;
  /* #1072 */
  /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!Important; */
  font-family: "Unica One", Arial, Helvetica, sans-serif!Important;
  font-size: 12px!Important;
}

.highcharts-root {
  display: block!Important;
}

.highcharts-root text {
  stroke-width: 0!Important;
}

.highcharts-strong {
  font-weight: bold!Important;
}

.highcharts-emphasized {
  font-style: italic!Important;
}

.highcharts-anchor {
  cursor: pointer!Important;
}

.highcharts-background {
  fill: #303030!Important;
}

.highcharts-plot-border, .highcharts-plot-background {
  fill: none!Important;
}

.highcharts-label-box {
  fill: none!Important;
}

.highcharts-button-box {
  fill: inherit!Important;
}

.highcharts-tracker-line {
  stroke-linejoin: round!Important;
  stroke: rgba(192, 192, 192, 0.0001)!Important;
  stroke-width: 22!Important;
  fill: none!Important;
}

.highcharts-tracker-area {
  fill: rgba(192, 192, 192, 0.0001)!Important;
  stroke-width: 0!Important;
}

/* Titles */
.highcharts-title {
  fill: #E0E0E3!Important;
  font-size: 20px!Important;
}

.highcharts-subtitle {
  fill: #E0E0E3!Important;
}

/* Axes */
.highcharts-axis-line {
  fill: #707073!Important;
  stroke: #707073!Important;
}

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 0!Important;
}

.highcharts-axis-title {
  fill: #E0E0E3!Important;
}

.highcharts-axis-labels, .highcharts-xaxis-labels text, .highcharts-yaxis-labels text{
  fill: #E0E0E3!Important;
  cursor: default!Important;
  font-size: 0.9em!Important;
}

.highcharts-grid-line {
  fill: none!Important;
  stroke: #707073!Important;
}

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 0px!Important;
}

.highcharts-tick {
  stroke: #fff!Important;
}

.highcharts-yaxis .highcharts-tick {
  stroke-width: 0!Important;
}

.highcharts-minor-grid-line {
  stroke: #505053!Important;
}

.highcharts-crosshair-thin {
  stroke-width: 1px!Important;
  stroke: #606063!Important;
}

.highcharts-crosshair-category {
  stroke: #707073!Important;
  stroke-opacity: 0.25!Important;
}

/* Credits */
.highcharts-credits {
  cursor: pointer!Important;
  fill: #666!Important;
  font-size: 0.7em!Important;
  transition: fill 250ms, font-size 250ms!Important;
}

.highcharts-credits:hover {
  fill: black!Important;
  font-size: 1em!Important;
}

/* Tooltip */
.highcharts-tooltip {
  cursor: default!Important;
  pointer-events: none!Important;
  white-space: nowrap!Important;
  transition: stroke 150ms!Important;
}

.highcharts-tooltip text {
  fill: #E0E0E3!Important;
}

.highcharts-tooltip .highcharts-header {
  font-size: 0.85em!Important;
}

.highcharts-tooltip-box {
  stroke-width: 1px!Important;
  fill: rgba(0, 0, 0, 0.85)!Important;
  fill-opacity: 0.85!Important;
}

.highcharts-tooltip-box .highcharts-label-box {
  fill: rgba(0, 0, 0, 0.85)!Important;
  fill-opacity: 0.85!Important;
}

.highcharts-selection-marker {
  fill: #335cad!Important;
  fill-opacity: 0.25!Important;
}

.highcharts-graph {
  fill: none!Important;
  stroke-width: 2px!Important;
  stroke-linecap: round!Important;
  stroke-linejoin: round!Important;
}

.highcharts-state-hover .highcharts-graph {
  stroke-width: 3!Important;
}

.highcharts-point-inactive {
  opacity: 0.2!Important;
  transition: opacity 50ms!Important;
  /* quick in */
}

.highcharts-series-inactive {
  opacity: 0.2!Important;
  transition: opacity 50ms!Important;
  /* quick in */
}

.highcharts-state-hover path {
  transition: stroke-width 50ms!Important;
  /* quick in */
}

.highcharts-state-normal path {
  transition: stroke-width 250ms!Important;
  /* slow out */
}

/* Legend hover affects points and series */
g.highcharts-series,
.highcharts-point,
.highcharts-markers,
.highcharts-data-labels {
  transition: opacity 250ms!Important;
}

.highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
  opacity: 0.2!Important;
}

/* Series options */
/* Default colors */
/* .highcharts-color-0 {
  fill: #2b908f;
  stroke: #2b908f;
}

.highcharts-color-1 {
  fill: #90ee7e;
  stroke: #90ee7e;
}

.highcharts-color-2 {
  fill: #f45b5b;
  stroke: #f45b5b;
}

.highcharts-color-3 {
  fill: #7798BF;
  stroke: #7798BF;
}

.highcharts-color-4 {
  fill: #aaeeee;
  stroke: #aaeeee;
}

.highcharts-color-5 {
  fill: #ff0066;
  stroke: #ff0066;
}

.highcharts-color-6 {
  fill: #eeaaee;
  stroke: #eeaaee;
}

.highcharts-color-7 {
  fill: #55BF3B;
  stroke: #55BF3B;
}

.highcharts-color-8 {
  fill: #DF5353;
  stroke: #DF5353;
}

.highcharts-color-9 {
  fill: #7798BF;
  stroke: #7798BF;
}

.highcharts-color-10 {
  fill: #aaeeee;
  stroke: #aaeeee;
} */

.highcharts-area {
  fill-opacity: 0.75!Important;
  stroke-width: 0!Important;
}

.highcharts-markers {
  stroke-width: 1px!Important;
  stroke: #2a2a2b!Important;
}

.highcharts-point {
  stroke-width: 1px!Important;
}

.highcharts-dense-data .highcharts-point {
  stroke-width: 0!Important;
}

.highcharts-data-label {
  font-size: 0.9em!Important;
  font-weight: bold!Important;
}

.highcharts-data-label-box {
  fill: none!Important;
  stroke-width: 0!Important;
}

.highcharts-data-label text, text.highcharts-data-label {
  fill: #ffffff!Important;
}

.highcharts-data-label-connector {
  fill: none!Important;
}

.highcharts-halo {
  fill-opacity: 0.25!Important;
  stroke-width: 0!Important;
}

.highcharts-series:not(.highcharts-pie-series) .highcharts-point-select,
.highcharts-markers .highcharts-point-select {
  fill: #606063!Important;
  stroke: #fff!Important;
}

.highcharts-column-series rect.highcharts-point {
  stroke: #2a2a2b!Important;
}

.highcharts-column-series .highcharts-point {
  transition: fill-opacity 250ms!Important;
}

.highcharts-column-series .highcharts-point-hover {
  fill-opacity: 0.75!Important;
  transition: fill-opacity 50ms!Important;
}

.highcharts-pie-series .highcharts-point {
  stroke-linejoin: round!Important;
  stroke: #2a2a2b!Important;
}

.highcharts-pie-series .highcharts-point-hover {
  fill-opacity: 0.75!Important;
  transition: fill-opacity 50ms!Important;
}

.highcharts-funnel-series .highcharts-point {
  stroke-linejoin: round!Important;
  stroke: #2a2a2b!Important;
}

.highcharts-funnel-series .highcharts-point-hover {
  fill-opacity: 0.75!Important;
  transition: fill-opacity 50ms!Important;
}

.highcharts-funnel-series .highcharts-point-select {
  fill: inherit!Important;
  stroke: inherit!Important;
}

.highcharts-pyramid-series .highcharts-point {
  stroke-linejoin: round!Important;
  stroke: #2a2a2b!Important;
}

.highcharts-pyramid-series .highcharts-point-hover {
  fill-opacity: 0.75!Important;
  transition: fill-opacity 50ms!Important;
}

.highcharts-pyramid-series .highcharts-point-select {
  fill: inherit!Important;
  stroke: inherit!Important;
}

.highcharts-solidgauge-series .highcharts-point {
  stroke-width: 0!Important;
}

.highcharts-treemap-series .highcharts-point {
  stroke-width: 1px!Important;
  stroke: #707073!Important;
  transition: stroke 250ms, fill 250ms, fill-opacity 250ms!Important;
}

.highcharts-treemap-series .highcharts-point-hover {
  stroke: #666!Important;
  transition: stroke 25ms, fill 25ms, fill-opacity 25ms!Important;
}

.highcharts-treemap-series .highcharts-above-level {
  display: none!Important;
}

.highcharts-treemap-series .highcharts-internal-node {
  fill: none!Important;
}

.highcharts-treemap-series .highcharts-internal-node-interactive {
  fill-opacity: 0.15!Important;
  cursor: pointer!Important;
}

.highcharts-treemap-series .highcharts-internal-node-interactive:hover {
  fill-opacity: 0.75!Important;
}

.highcharts-vector-series .highcharts-point {
  fill: none!Important;
  stroke-width: 2px!Important;
}

.highcharts-windbarb-series .highcharts-point {
  fill: none!Important;
  stroke-width: 2px!Important;
}

/* Legend */
.highcharts-legend-box {
  fill: none!Important;
  stroke-width: 0!Important;
}

.highcharts-legend-item > text {
  fill: #E0E0E3!Important;
  font-weight: bold!Important;
  font-size: 1em!Important;
  cursor: pointer!Important;
  stroke-width: 0!Important;
}

.highcharts-legend-item:hover text {
  fill: #fff!Important;
}

.highcharts-legend-item-hidden * {
  fill: #606063 !Important;
  stroke: #606063 !Important;
  transition: fill 250ms!Important;
}

.highcharts-legend-nav-active {
  fill: #F0F0F3!Important;
  cursor: pointer!Important;
}

.highcharts-legend-nav-inactive {
  fill: #606063!Important;
}

circle.highcharts-legend-nav-active, circle.highcharts-legend-nav-inactive {
  /* tracker */
  fill: rgba(192, 192, 192, 0.0001)!Important;
}

.highcharts-legend-title-box {
  fill: none!Important;
  stroke-width: 0!Important;
}

/* Bubble legend */
.highcharts-bubble-legend-symbol {
  stroke-width: 2!Important;
  fill-opacity: 0.5!Important;
}

.highcharts-bubble-legend-connectors {
  stroke-width: 1!Important;
}

.highcharts-bubble-legend-labels {
  fill: #E0E0E3!Important;
}

/* Loading */
.highcharts-loading {
  position: absolute!Important;
  background-color: #2a2a2b!Important;
  opacity: 0.5!Important;
  text-align: center!Important;
  z-index: 10!Important;
  transition: opacity 250ms!Important;
}

.highcharts-loading-hidden {
  height: 0 !Important;
  opacity: 0!Important;
  overflow: hidden!Important;
  transition: opacity 250ms, height 250ms step-end!Important;
}

.highcharts-loading-inner {
  font-weight: bold!Important;
  position: relative!Important;
  top: 45%!Important;
}

/* Plot bands and polar pane backgrounds */
.highcharts-plot-band, .highcharts-pane {
  fill: #fff!Important;
  fill-opacity: 0.05!Important;
}

.highcharts-plot-line {
  fill: none!Important;
  stroke: #666!Important;
  stroke-width: 1px!Important;
}

/* Highcharts More and modules */
.highcharts-boxplot-box {
  fill: #2a2a2b!Important;
}

.highcharts-boxplot-median {
  stroke-width: 2px!Important;
}

.highcharts-bubble-series .highcharts-point {
  fill-opacity: 0.5!Important;
}

.highcharts-errorbar-series .highcharts-point {
  stroke: #fff!Important;
}

.highcharts-gauge-series .highcharts-data-label-box {
  stroke: #606063!Important;
  stroke-width: 1px!Important;
}

.highcharts-gauge-series .highcharts-dial {
  fill: #fff!Important;
  stroke-width: 0!Important;
}

.highcharts-polygon-series .highcharts-graph {
  fill: inherit!Important;
  stroke-width: 0!Important;
}

.highcharts-waterfall-series .highcharts-graph {
  stroke: #E0E0E3!Important;
  stroke-dasharray: 1, 3!Important;
}

.highcharts-sankey-series .highcharts-point {
  stroke-width: 0!Important;
}

.highcharts-sankey-series .highcharts-link {
  transition: fill 250ms, fill-opacity 250ms!Important;
  fill-opacity: 0.5!Important;
}

.highcharts-sankey-series .highcharts-point-hover.highcharts-link {
  transition: fill 50ms, fill-opacity 50ms!Important;
  fill-opacity: 1!Important;
}

.highcharts-venn-series .highcharts-point {
  fill-opacity: 0.75!Important;
  stroke: #606063!Important;
  transition: stroke 250ms, fill-opacity 250ms!Important;
}

.highcharts-venn-series .highcharts-point-hover {
  fill-opacity: 1!Important;
  stroke: #606063!Important;
}

/* Highstock */
.highcharts-navigator-mask-outside {
  fill-opacity: 0!Important;
}

.highcharts-navigator-mask-inside {
  fill: rgba(255, 255, 255, 0.1)!Important;
  /* navigator.maskFill option */
  fill-opacity: 0.25!Important;
  cursor: ew-resize!Important;
}

.highcharts-navigator-outline {
  stroke: #606063!Important;
  fill: none!Important;
}

.highcharts-navigator-handle {
  stroke: #606063!Important;
  fill: #505053!Important;
  cursor: ew-resize!Important;
}

.highcharts-navigator-series {
  fill: #7798BF!Important;
  stroke: #A6C7ED!Important;
}

.highcharts-navigator-series .highcharts-graph {
  stroke-width: 1px!Important;
}

.highcharts-navigator-series .highcharts-area {
  fill-opacity: 0.05!Important;
}

.highcharts-navigator-xaxis .highcharts-axis-line {
  stroke-width: 0!Important;
}

.highcharts-navigator-xaxis .highcharts-grid-line {
  stroke-width: 1px!Important;
  stroke: #707073!Important;
}

.highcharts-navigator-xaxis.highcharts-axis-labels {
  fill: #fff!Important;
}

.highcharts-navigator-yaxis .highcharts-grid-line {
  stroke-width: 0!Important;
}

.highcharts-scrollbar-thumb {
  fill: #606063!Important;
  stroke: #606063!Important;
  stroke-width: 1px!Important;
}

.highcharts-scrollbar-button {
  fill: #707073!Important;
  stroke: #606063!Important;
  stroke-width: 1px!Important;
}

.highcharts-scrollbar-arrow {
  fill: #E0E0E3!Important;
}

.highcharts-scrollbar-rifles {
  stroke: #E0E0E3!Important;
  stroke-width: 1px!Important;
}

.highcharts-scrollbar-track {
  fill: #404043!Important;
  stroke: #404043!Important;
  stroke-width: 1px!Important;
}

.highcharts-button {
  fill: #505053!Important;
  stroke: #606063!Important;
  cursor: default!Important;
  stroke-width: 1px!Important;
  transition: fill 250ms!Important;
}

.highcharts-button text {
  fill: #ccc!Important;
}

.highcharts-button-hover {
  transition: fill 0ms!Important;
  fill: #707073!Important;
  stroke: #606063!Important;
}

.highcharts-button-hover text {
  fill: #fff!Important;
}

.highcharts-button-pressed {
  font-weight: bold!Important;
  fill: #000003!Important;
  stroke: #606063!Important;
}

.highcharts-button-pressed text {
  fill: #fff!Important;
  font-weight: bold!Important;
}

.highcharts-button-disabled text {
  fill: #ccc!Important;
}

.highcharts-range-selector-buttons .highcharts-button {
  stroke-width: 0px!Important;
}

.highcharts-range-label rect {
  fill: none!Important;
}

.highcharts-range-label text {
  fill: #E0E0E3!Important;
}

.highcharts-range-input rect {
  fill: none!Important;
}

.highcharts-range-input text {
  fill: silver!Important;
}

.highcharts-range-input {
  stroke-width: 1px!Important;
  stroke: #505053!Important;
}

input.highcharts-range-selector {
  position: absolute!Important;
  border: 0!Important;
  width: 1px!Important;
  /* Chrome needs a pixel to see it */
  height: 1px!Important;
  padding: 0!Important;
  text-align: center!Important;
  left: -9em!Important;
  /* #4798 */
}

.highcharts-crosshair-label text {
  fill: #fff!Important;
  font-size: 1.1em!Important;
}

.highcharts-crosshair-label .highcharts-label-box {
  fill: inherit!Important;
}

.highcharts-candlestick-series .highcharts-point {
  stroke: #fff!Important;
  stroke-width: 1px!Important;
}

.highcharts-candlestick-series .highcharts-point-up {
  fill: #2a2a2b!Important;
}

.highcharts-ohlc-series .highcharts-point-hover {
  stroke-width: 3px!Important;
}

.highcharts-flags-series .highcharts-point .highcharts-label-box {
  stroke: #666!Important;
  fill: #2a2a2b!Important;
  transition: fill 250ms!Important;
}

.highcharts-flags-series .highcharts-point-hover .highcharts-label-box {
  stroke: #fff!Important;
  fill: #707073!Important;
}

.highcharts-flags-series .highcharts-point text {
  fill: #fff!Important;
  font-size: 0.9em!Important;
  font-weight: bold!Important;
}

/* Highmaps */
.highcharts-map-series .highcharts-point {
  transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms!Important;
  stroke: #606063!Important;
}

.highcharts-map-series .highcharts-point-hover {
  transition: fill 0ms, fill-opacity 0ms!Important;
  fill-opacity: 0.5!Important;
  stroke-width: 2px!Important;
}

.highcharts-mapline-series .highcharts-point {
  fill: none!Important;
}

.highcharts-heatmap-series .highcharts-point {
  stroke-width: 0!Important;
}

.highcharts-map-navigation {
  font-size: 1.3em!Important;
  font-weight: bold!Important;
  text-align: center!Important;
}

.highcharts-coloraxis {
  stroke-width: 0!Important;
}

.highcharts-coloraxis-marker {
  fill: #666!Important;
}

.highcharts-null-point {
  fill: #f7f7f7!Important;
}

/* 3d charts */
.highcharts-3d-frame {
  fill: transparent!Important;
}

/* Exporting module */
.highcharts-contextbutton {
  fill: #505053!Important;
  /* needed to capture hover */
  stroke: none!Important;
  stroke-linecap: round!Important;
}

.highcharts-contextbutton:hover {
  fill: #707073!Important;
  stroke: #707073!Important;
}

.highcharts-button-symbol {
  stroke: #E0E0E3!Important;
  stroke-width: 3px!Important;
}

.highcharts-menu {
  border: 1px solid #666!Important;
  background: #2a2a2b!Important;
  padding: 5px 0!Important;
  box-shadow: 3px 3px 10px #888!Important;
}

.highcharts-menu-item {
  padding: 0.5em 1em!Important;
  background: none!Important;
  color: #E0E0E3!Important;
  cursor: pointer!Important;
  transition: background 250ms, color 250ms!Important;
}

.highcharts-menu-item:hover {
  background: #335cad!Important;
  color: #2a2a2b!Important;
}

/* Drilldown module */
.highcharts-drilldown-point {
  cursor: pointer!Important;
}

.highcharts-drilldown-data-label text,
text.highcharts-drilldown-data-label,
.highcharts-drilldown-axis-label {
  cursor: pointer!Important;
  fill: #F0F0F3!Important;
  font-weight: bold!Important;
  text-decoration: underline!Important;
}

/* No-data module */
.highcharts-no-data text {
  font-weight: bold!Important;
  font-size: 12px!Important;
  fill: #E0E0E3!Important;
}

/* Drag-panes module */
.highcharts-axis-resizer {
  cursor: ns-resize!Important;
  stroke: black!Important;
  stroke-width: 2px!Important;
}

/* Bullet type series */
.highcharts-bullet-target {
  stroke-width: 0!Important;
}

/* Lineargauge type series */
.highcharts-lineargauge-target {
  stroke-width: 1px!Important;
  stroke: #E0E0E3!Important;
}

.highcharts-lineargauge-target-line {
  stroke-width: 1px!Important;
  stroke: #E0E0E3!Important;
}

/* Annotations module */
.highcharts-annotation-label-box {
  stroke-width: 1px!Important;
  stroke: #fff!Important;
  fill: #fff!Important;
  fill-opacity: 0.75!Important;
}

.highcharts-annotation-label text {
  fill: #fff!Important;
}

/* Gantt */
.highcharts-treegrid-node-collapsed, .highcharts-treegrid-node-expanded {
  cursor: pointer!Important;
}

.highcharts-point-connecting-path {
  fill: none!Important;
}

.highcharts-grid-axis .highcharts-tick {
  stroke-width: 1px!Important;
}

.highcharts-grid-axis .highcharts-axis-line {
  stroke-width: 1px!Important;
}